@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Rajdhani&family=Roboto+Condensed&display=swap');


.Main {
    height: 250px;
    width: 90%;
    margin: 80px auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    color: #468bdf;
    font-family: 'Rajdhani', sans-serif;
}

.Sub {
    font-size: 18px;
}

.Call {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.Num {
    text-decoration: none;
    color: #468bdf;
}

