.spinnerMain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    height: 200px;
    width: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #00000085;
    border-radius: 20px;
    color: white;
}