@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Rajdhani&family=Roboto+Condensed&display=swap');


.Main {
    width: 95%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
}

.MainImg {
    width: 45%;
    margin: 0 auto;
    padding: 8px;
}

.MainImg img {
    width: 70%;
}

.MainPara {
    width: 45%;
    margin: 0 auto;
    padding: 8px;
    color: #3a7ed9;
}

.Main h2 {
    font-size: 30px;
    text-transform: capitalize;
}

.Para {
    width: 80%;
    margin: 30px auto;
    font-size: 18px;
    line-height: 30px;
}

.Intro1 {
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #3a7ed9;
}


.Intro1List {
    width: 100%;
    margin: 0 auto;
    list-style: auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.Intro1List li {
    margin: 10px 0;
    text-align: left;
}

.Para p {
    text-align: left;
}

.SelectPhone {
    margin: 80px auto;
}

.SelectPhone h2 {
    color: #3a7ed9;
}


@media (max-width: 486px) {
    .MainImg {
        display: none;
    }

    .MainPara {
        width: 70%;
    }
}