@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=PT+Serif&family=Roboto:wght@100&display=swap');

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Main {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.MainImg {
    margin: 15px auto;
}

.MainImg img {
    width: 90%;
}

.MainPara {
    width: 90%;
    margin: 15px auto;
    display: flex;
    flex-flow: column;
}

.SubPara {
    line-height: 25px;
    text-align: left;
    box-sizing: border-box;
}

.Para {
    margin: 10px auto;
}

.ContactMain {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.SubContact {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.Contacts {
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Contacts a {
    letter-spacing: 0;
}

.Contact {
    width: 200px;
    cursor: pointer;
    color: rgb(75, 75, 75);
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 15px;
}

.contactsLink {
    text-decoration: none;
    color: inherit;
}

.Contact:hover {
    animation: zoom 0.3s ease-out forwards;
    color: white;
}

.Contact img {
    height: 80px;
    width: 80px;
}

.ServiceMain {
    width: 100%;
    margin: 50px auto;
    padding: 20px 0;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;
    color: #EEEEEE;
    font-family: 'PT Sans', sans-serif;
}

.ServiceMain::after {
    content: "";
    background-image: url(../../Assets//Images/others/phoneClinic.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    z-index: -1;
    filter: brightness(0.2);
}

.Services {
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.service {
    width: 300px;
    height: 255px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
    background-color: #eeeeee42;
    border-radius: 20px;
}

.service:hover {
    animation: zooms 0.5s ease-in-out forwards;
}

.service img {
    height: 70px;
    width: 70px;
}

.details {
    color: #EEEEEE;
}


@keyframes zooms {
    100%{
        transform:rotate3d(0, 180, 0, 360deg)
    }
}

@keyframes zoom {
    100% {
        background-color: #8ba4e0;
        transform: scale(1.1);
        box-shadow: -7px 10px 12px 5px #a4b4da;
        border: 1px solid #87a3e4;
    }
}

@media (max-width: 815px) {
    .service {
        width: 200px;
        height: 200px;
    }
    .details {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .Contacts {
        flex-flow: column;
    }

    .Contact {
        width: 80%;
        margin: 10px auto;
    }
}