@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Creepster&family=Josefin+Sans&family=Luxurious+Roman&family=Open+Sans:wght@300&family=PT+Sans+Narrow:wght@700&family=PT+Serif&family=Permanent+Marker&family=Playball&family=Playfair+Display&family=Roboto:wght@100&family=Source+Sans+Pro:wght@300&display=swap');

.Main {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Pic {
    width: 45%;
}

.Pic img {
    width: 95%;
}

.Heading {
    width: 45%;
    font-family: 'PT Serif', serif;
    color: #468bdf;
}

.Shop {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    color: #468bdf;
}

.Head2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Head2 div {
    width: 32%;
    border: 1px solid #e9e9e9;
    height: 165px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.Head2 img {
    height: 90px;
    width: 90px;
}

.Intro1 {
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #3a7ed9;
}


.Intro1List {
    width: 100%;
    margin: 0 auto;
    list-style: auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;   
}

.Intro1List li {
    text-align: left;
    margin: 10px 0;
}

@media (max-width: 900px) {
    .Head2 img {
        height: 60px;
        width: 60px;
    }

    .Head2 div {
        height: 130px;
        width: 27%;
    }
}

@media (max-width:767px) {
    .Heading h1 {
        font-size: 25px;
    }

    .Heading h2 {
        font-size: 18px;
    }

    .Heading p {
        font-size: 15px;
    }
}





@media (max-width: 650px) {
    .Head2 img {
        height: 40px;
        width: 40px;
    }

    .Head2 div {
        height: 105px;
        width: 25%;
    }
}

@media (max-width: 550px) {
    .Main {
        flex-flow: column;
        padding: 20px 0;
    }

    .Pic, .Heading {
        margin: 15px 0;
        width: 90%;
    }

    .Head2 {
        flex-flow: column;
        align-items: center;
    }

    .Head2 img {
        height: 50px;
        width: 50px;
    }

    .Head2 div {
        height: 125px;
        width: 70%;
    }
}